<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Search OMDB</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<style media="screen">
  html {
    background: url('http://res.cloudinary.com/bgongre/image/upload/v1517838457/CinemaBackground_ubg769.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .movie {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
  }

  .movie-search {
    color: #FFF;
    max-width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 20%;
    display: table-cell;
  }

  .results {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: #ef3228;
  }

  li {
    list-style: none;
  }
</style>

<body>
